<form class="mt-4" id="newPlace" #restaurantForm="ngForm" (ngSubmit)="addRestaurant()" novalidate="novalidate">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required="required" minlength="5"
            [(ngModel)]="newRest.name"
            #nameModel="ngModel"
            name="name"
            id="name"
            placeholder="Enter name"
            [ngClass]="{'is-valid': nameModel.touched && nameModel.valid,'is-invalid': nameModel.touched && !nameModel.valid}">
        <div class="invalid-feedback">Name is required and can only contain letters and spaces.</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" required="required"
            [(ngModel)]="newRest.description"
            #descModel="ngModel"
            name="description" rows="3"
            placeholder="Description"
            [ngClass]="{'is-valid': descModel.touched && descModel.valid,'is-invalid': descModel.touched && !descModel.valid}">
        </textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control"
            [(ngModel)]="newRest.cuisine"
            #cuisineModel="ngModel"
            name="cuisine" id="cuisine" placeholder="Cuisine" required="required"
            [ngClass]="{'is-valid': cuisineModel.touched && cuisineModel.valid, 'is-invalid': cuisineModel.touched && !cuisineModel.valid}">
        <div class="invalid-feedback">Cuisine is required.</div>
    </div>
    
    <p>Opening days</p>
    <div class="form-group" ngModelGroup="daysGroup" #daysModel="ngModelGroup"
        fsOneChecked>
        <div class="custom-control custom-control-inline custom-checkbox"
            *ngFor="let day of days; let i = index">
            <input class="custom-control-input"
                type="checkbox"
                id="checkDay{{i}}" 
                name="days{{i}}"
                [(ngModel)]="daysOpen[i]">
            <label class="custom-control-label" for="checkDay{{i}}">{{day}}</label>
        </div>
        <div *ngIf="daysModel.invalid" class="text-danger" id="daysError">
            <small>You must chooose at least 1 day.</small>
        </div>
    </div>
    
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="newRest.phone"
            name="phone" placeholder="Phone number">
        <div class="invalid-feedback">Phone is required. 9 numbers (prefix optional).</div>
    </div>
    
    <div class="form-group">
        <label for="image">Main photo</label>
        <input #fileInput
            type="file" class="form-control" id="image" name="image"
            (change)="changeImage(fileInput)"  required="required">
        <div class="invalid-feedback">An image is required.</div>
    </div>
    <img src="" alt="" id="imgPreview" class="img-thumbnail">

    <button type="submit" class="btn btn-primary"
        [disabled]="!restaurantForm.valid || !fileInput.files.length">
        Create
    </button>
</form>