<form fxLayout="row"
    fxLayoutAlign="center center"
    class="row-height"
    method="POST"
    role="form"
    [formGroup]="restaurantForm"
    (ngSubmit)="submit($event)">
    <mat-card fxFlex="50%">
            <mat-card-title-group>
                <mat-card-title>{{title}}</mat-card-title>
                <img *ngIf="image" mat-card-lg-image
                    [src]="image"
                    alt="">
            </mat-card-title-group>
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Name" [formControl]="restaurantForm.get('name')">
                    <mat-error *ngIf="restaurantForm.get('name').hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="restaurantForm.get('name').hasError('pattern')">
                        Name musts contain 5 characters at least
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Description" rows="3"
                        [formControl]="restaurantForm.get('description')">
                    </textarea>
                    <mat-error *ngIf="restaurantForm.get('description').hasError('required')">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Cuisine"
                        [formControl]="restaurantForm.get('cuisine')" />
                    <mat-error *ngIf="restaurantForm.get('cuisine').hasError('required')">
                        Cuisine is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                
                <div [formGroup]="restaurantForm.get('days')" fsOneChecked>
                    <div fxLayout="row">
                        <div *ngFor="let day of days; let i = index" fxFlex="20%">
                            <mat-checkbox formControlName="days{{i}}">
                                {{day}}
                            </mat-checkbox>
                        </div>
                    </div>
                    <mat-error *ngIf="!restaurantForm.get('days').valid">
                        You must chooose at least 1 day.
                    </mat-error>
                 </div>

                <mat-form-field>
                    <input matInput placeholder="Phone"
                        [formControl]="restaurantForm.get('phone')" />
                    <mat-error *ngIf="restaurantForm.get('phone').hasError('required')">
                        Phone is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="restaurantForm.get('phone').hasError('pattern')">
                        Phone is not valid
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <div>
                <fs-file-input [formControl]="restaurantForm.get('image')"
                name="image"
                (change)="changeImage($event)"></fs-file-input>
                <div *ngIf="!restaurantForm.get('image').valid"
                    style="color: red;">
                    Image is required
                </div>
            </div>
            
                
            <fs-mapbox [formGroup]="restaurantForm.get('location')"></fs-mapbox>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button type="submit" mat-raised-button color="accent" [disabled]="!this.image || restaurantForm.invalid">
                    {{submitBtnTxt}}
                </button>
            </div>
    </mat-card>
</form>