<nav>
    <mat-toolbar color="primary" class="mat-elevation-z5">
        <h1>
            FoodScore
        </h1>

        <ng-container *ngIf="logged">
            <div class="fs-links">
                <span class="nav-item">
                    <a class="nav-link" [routerLink]="'/restaurants'">Home</a>
                </span>
                <span class="nav-item">
                    <a class="nav-link" [routerLink]="'/restaurants/add'">New restaurant</a>
                </span>
                <span class="nav-item">
                    <a class="nav-link" [routerLink]="['/restaurants/mine']">
                        My restaurants
                    </a>
                </span>
                <span class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']">My profile</a>
                </span>
            </div>

            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space"></span>

            <a href="#" (click)="logout($event)" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>power_settings_new</mat-icon>
            </a>
        </ng-container>
    </mat-toolbar>
</nav>