<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FoodScore</a>
    <ng-container *ngIf="logged">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/restaurants'" [routerLinkActive]="'active'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/restaurants/new'">New restaurant</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="profile.html">My profile</a>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" id="logout" (click)="logout($event)">Logout</a>
            </li>
        </ul>
    </ng-container>
</nav>

<div class="container">
   <router-outlet></router-outlet>
</div>
