<!-- <form action="#" id="form-login" class="mt-4" method="POST" role="form" (ngSubmit)="login($event)">
    <legend>Welcome to FoodScore!</legend>

    <div class="form-group">
        <label for="correo">Email:</label>
        <input type="email"
            class="form-control" name="email" id="email" placeholder="Email"
            [(ngModel)]="user.email">
        <label for="password">Password:</label>
        <input type="password"
            class="form-control" name="password" id="password"
            placeholder="Password"
            [(ngModel)]="user.password">
    </div>
    <p *ngIf="error" class="text-danger" id="errorInfo">{{error}}</p>
    <a mat-raised-button routerLink="/auth/register">Create account</a>
    <button type="submit" mat-raised-button color="accent">
        Login
    </button>
</form> -->


<form fxLayout="row"
    fxLayoutAlign="center center"
    class="row-height"
    method="POST"
    role="form"
    (ngSubmit)="login($event)">

    <mat-card fxFlex="30%">
            <mat-card-title>Login</mat-card-title>
    
            <mat-card-content fxLayout="column" fxLayout="column">
                <mat-form-field class="example-full-width">
                    <input type="email" matInput placeholder="E-mail"
                        name="email"
                        [(ngModel)]="user.email">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password"
                        name="password"
                        [(ngModel)]="user.password">
                </mat-form-field>

                <mat-label *ngIf="error" color="warn">
                    {{error.error}}
                </mat-label>
            </mat-card-content>
            
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                <a mat-raised-button routerLink="/auth/register">Create account</a>
                <button type="submit" mat-raised-button color="accent">
                    Login
                </button>
            </div>
    </mat-card>
</form>