.mat-raised-button {
    min-width: 10em;
}

.register-wrapper {
    margin: 2em;
    text-align: center;
}

@media(min-width: 411px) {
    .mat-raised-button {
        max-width: 5em !important;
        text-overflow: ellipsis;
    }
}