<div fxLayout="column"  fxLayoutGap="0.5em">
    <div *ngIf="restaurant" id="cardContainer" class="mt-4" fxLayoutGap="0.5em">
        <fs-restaurant-card [restaurant]="restaurant"></fs-restaurant-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{restaurant.address}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <fs-mapbox [ngModel]="position" [enable-search]="false"></fs-mapbox>
            </mat-card-content>
        </mat-card>
    </div>
    

    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Opinions</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let comment of comments">
                        <img mat-list-icon [src]="comment.user.avatar"
                            alt="User avatar"
                            [routerLink]="['/profile', comment.user.id]" />
                        <h4 mat-line>{{comment.text}}</h4>
                        <p mat-line>{{comment.user.name}}</p>
                        <div mat-line>
                            <fs-rating-stars [ngModel]="comment.stars" [stars]="5"
                                    [disabled]="true"></fs-rating-stars>
                        </div>
                        <p mat-line>{{comment.date | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
                    </mat-list-item>
                </mat-list>
                <form *ngIf="!restaurant.commented" class="mt-4" id="commentForm"
                    [formGroup]="commentForm"
                    (ngSubmit)="sendComment($event)">
                    <mat-form-field>
                        <mat-label>Write about this restaurant</mat-label>
                        <textarea matInput formControlName="text" placeholder="Write an opinion"></textarea>

                        <mat-error *ngIf="commentForm.get('text').hasError('required')">
                            Comment is required
                        </mat-error>
                    </mat-form-field>
                    <div id="stars">
                        <fs-rating-stars formControlName="stars">
                        </fs-rating-stars>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="left center">
                        <button mat-raised-button type="submit" color="accent">Send</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>