<form action="#" class="mt-4" id="newPlace" novalidate="">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
        <div class="invalid-feedback">Name is required and can only contain letters and spaces.</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"></textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text" class="form-control" name="cuisine" id="cuisine" placeholder="Cuisine">
        <div class="invalid-feedback">Cuisine is required.</div>
    </div>
    <p>Opening days</p>
    
    <div class="form-group">
        <div class="custom-control custom-control-inline custom-checkbox"
            *ngFor="let day of days; let i = index">
            <input class="custom-control-input"
                type="checkbox"
                id="checkDay{{i}}" 
                name="days"
                [(ngModel)]="daysOpen[i]">
            <label class="custom-control-label" for="checkDay{{i}}">{{day}}</label>
        </div>
        <div class="text-danger d-none" id="daysError"><small>You must chooose at least 1 day.</small></div>
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number">
        <div class="invalid-feedback">Phone is required. 9 numbers (prefix optional).</div>
    </div>
    <div class="form-group">
        <label for="image">Main photo</label>
        <input type="file" class="form-control" id="image" name="image">
        <div class="invalid-feedback">An image is required.</div>
    </div>
    <img src="" alt="" id="imgPreview" class="img-thumbnail">

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div class="card-columns">

</div>