<!-- <div class="card">
    <img class="card-img-top" [src]="restaurant.image" [routerLink]="['details', restaurant.id]">
    <div class="card-body">
        <h5 class="card-title"
            [routerLink]="['details', restaurant.id]">
                {{restaurant.name}}
        </h5>
        <p class="card-text" [innerText]="restaurant.description"></p>
        <div class="card-text">
            <small class="text-muted">
                <strong>Opens: </strong>{{getDaysString(restaurant)}}
            </small>
            <ng-container [ngSwitch]="open">
                <span *ngSwitchCase="true" class="badge badge-success">Open</span>
                <span *ngSwitchCase="false" class="badge badge-danger">Closed</span>
            </ng-container>
        </div>
        <div class="card-text">
            <small class="text-muted">
                <strong>Phone: </strong>{{restaurant.phone}}
            </small>
        </div>
        <button *ngIf="restaurant.mine"
            (click)="deleteRestaurant()"
            class="mt-2 btn btn-sm btn-danger btn-delete">Delete</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{restaurant.cuisine}}</small>
    </div>
</div> -->

<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar [style.background]="avatar"></div> -->
        <mat-card-title>
            <span [routerLink]="['details', restaurant.id]">
                    {{restaurant.name}}
            </span>
        </mat-card-title>
        <mat-card-subtitle>{{restaurant.cuisine}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="restaurant.image"
        [routerLink]="['details', restaurant.id]"
        alt="Restaurant picture">
    <mat-card-content>
        <p [innerText]="restaurant.description"></p>
        <div>
            <small>
                <strong>Opens: </strong>{{getDaysString(restaurant)}}
            </small>
            <ng-container [ngSwitch]="open">
                <button mat-button color="accent" *ngSwitchCase="true">
                    Open
                </button>
                <button mat-button color="warn" *ngSwitchCase="false">
                    Closed
                </button>
            </ng-container>
        </div>
        <div>
            <fs-rating-stars [ngModel]="restaurant.stars" [disabled]="true"></fs-rating-stars>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-icon-button color="accent" [routerLink]="['edit', restaurant.id]">
            <mat-icon>edit</mat-icon>
        </a>
        <button *ngIf="restaurant.mine"
            mat-icon-button color="warn"
            (click)="deleteRestaurant()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <p fxLayout="row" fxLayoutAlign="center center">
            <small>{{restaurant.distance | number:'1.1-2'}} Km</small>
        </p>
    </mat-card-footer>
    
</mat-card>